@import "../../scss/index.scss";

.user {
    &__title {
        border-bottom: 1px solid $border-grey;
        padding: 0.8em;

        h2 {
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

}